@inject Microsoft.Extensions.Hosting.IHostEnvironment env
@model BasePage
@{
    var lang =  "en"; 
}
<!DOCTYPE html>
<html lang="@lang">
<head>
    @{
    }
    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@picocss/pico@2/css/pico.min.css" />
    <!-- CSS Overrides -->
    <link rel="stylesheet" href="~/src/css/app.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/cleave-zen@0.0.17/dist/cleave-zen.umd.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body style="background-color: min-height: 100%; height: 100vh;">

    <div class="container">
        <!--Header-->
        <nav x-data="{
                fixed: false,
                cartItems: (@Model.CartItems || 0),
                init() {
                    this.$events.On('addToCart', (response) => {
                        if (response.result) this.cartItems++;
                    });
                    this.$events.On('removeFromCart', (response) => {
                        if (response.result) this.cartItems--;
                    });
                }
            }"
             :class="fixed ? 'container  floating topnav' : 'topnav'"
             style="padding: 0px 8px;">
            <ul><li><strong><a href="/">Stripe.Shopping</a></strong></li></ul>
            @if(Model.TopNavigation != null)
            {
                <ul>
                    @foreach (var link in Model.TopNavigation)
                    {
                        if (link.Disabled == true)
                        {
                            <li>@link.Text</li>
                        }
                        else
                        {
                            <li><a href="@link.Href">@link.Text</a></li>
                        }
                    }
                    <span x-text="cartItems"></span>
                </ul>
            }
        </nav>
        <!-- Body -->
        <div x-data>
            @RenderBody()
        </div>
        <!--Footer--> <footer>
            <nav>
                <li class="pl-0">
                    Stripe Shopping Site
                </li>
                <ul>
                    <li>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>

    <!-- Not used for current stage -->
    <script type="module" src="~/src/js/init.js"></script>
</body>
</html>